## Imports

In [19]:
import pandas as pd
import numpy as np
import re

import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(2018)
import nltk
from nltk.corpus import stopwords
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\JakubowskiL\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## Data Input

In [20]:
# reading iteratively input files
input_df = pd.read_csv('BBCArticles.csv')
display(input_df.sample(5))
display(input_df['Category'].value_counts())

     ArticleId                                               Text  Category
427        930  casual gaming to  take off  games aimed at  ca...      tech
60         464  dozens held over id fraud site twenty-eight pe...      tech
283        533  england s defensive crisis grows england s def...     sport
841        174  commons hunt protest charges eight protesters ...  politics
913       1792  choose hope over fear - kennedy voters will ha...  politics

sport            346
business         336
politics         274
entertainment    273
tech             261
Name: Category, dtype: int64

## Data Preprocessing

Steps:
1. Cutting docs to words
2. Removing stop-words
3. Lemmatization of words

In [22]:
# splitting and cleaning text
splitted_texts = [doc.split() for doc in input_df['Text']]
input_df['Splitted Text'] = splitted_texts
stripped = []
for i in range(len(input_df['Splitted Text'])):
    strip = [word.strip(' .,)(""-\'') for word in input_df['Splitted Text'][i]]
    stripped.append(strip)
input_df['Stripped Text'] = stripped
input_df.head(5)

,ArticleId,Text,Category,Splitted Text,Stripped Text
0,1833,worldcom ex-boss launches defence lawyers defe...,business,"[worldcom, ex-boss, launches, defence, lawyers...","[worldcom, ex-boss, launches, defence, lawyers..."
1,154,german business confidence slides german busin...,business,"[german, business, confidence, slides, german,...","[german, business, confidence, slides, german,..."
2,1101,bbc poll indicates economic gloom citizens in ...,business,"[bbc, poll, indicates, economic, gloom, citize...","[bbc, poll, indicates, economic, gloom, citize..."
3,1976,lifestyle governs mobile choice faster bett...,tech,"[lifestyle, governs, mobile, choice, faster, b...","[lifestyle, governs, mobile, choice, faster, b..."
4,917,enron bosses in $168m payout eighteen former e...,business,"[enron, bosses, in, $168m, payout, eighteen, f...","[enron, bosses, in, $168m, payout, eighteen, f..."

In [31]:
# removing stop words
filtered = []
stop_words = set(stopwords.words('english'))
for i in range(len(input_df['Stripped Text'])):
    filtered_sentence = [w for w in input_df['Stripped Text'][i] if not w in stop_words]
    filtered.append(filtered_sentence)
input_df['Filtered Text'] = filtered

In [32]:
input_df

,ArticleId,Text,Category,Splitted Text,Stripped Text,Filtered Text
0,1833,worldcom ex-boss launches defence lawyers defe...,business,"[worldcom, ex-boss, launches, defence, lawyers...","[worldcom, ex-boss, launches, defence, lawyers...","[worldcom, ex-boss, launches, defence, lawyers..."
1,154,german business confidence slides german busin...,business,"[german, business, confidence, slides, german,...","[german, business, confidence, slides, german,...","[german, business, confidence, slides, german,..."
2,1101,bbc poll indicates economic gloom citizens in ...,business,"[bbc, poll, indicates, economic, gloom, citize...","[bbc, poll, indicates, economic, gloom, citize...","[bbc, poll, indicates, economic, gloom, citize..."
3,1976,lifestyle governs mobile choice faster bett...,tech,"[lifestyle, governs, mobile, choice, faster, b...","[lifestyle, governs, mobile, choice, faster, b...","[lifestyle, governs, mobile, choice, faster, b..."
4,917,enron bosses in $168m payout eighteen former e...,business,"[enron, bosses, in, $168m, payout, eighteen, f...","[enron, bosses, in, $168m, payout, eighteen, f...","[enron, bosses, $168m, payout, eighteen, forme..."
5,1582,howard truanted to play snooker conservative...,politics,"[howard, truanted, to, play, snooker, conserva...","[howard, truanted, to, play, snooker, conserva...","[howard, truanted, play, snooker, conservative..."
6,651,wales silent on grand slam talk rhys williams ...,sport,"[wales, silent, on, grand, slam, talk, rhys, w...","[wales, silent, on, grand, slam, talk, rhys, w...","[wales, silent, grand, slam, talk, rhys, willi..."
7,1797,french honour for director parker british film...,entertainment,"[french, honour, for, director, parker, britis...","[french, honour, for, director, parker, britis...","[french, honour, director, parker, british, fi..."
8,2034,car giant hit by mercedes slump a slump in pro...,business,"[car, giant, hit, by, mercedes, slump, a, slum...","[car, giant, hit, by, mercedes, slump, a, slum...","[car, giant, hit, mercedes, slump, slump, prof..."
9,1866,fockers fuel festive film chart comedy meet th...,entertainment,"[fockers, fuel, festive, film, chart, comedy, ...","[fockers, fuel, festive, film, chart, comedy, ...","[fockers, fuel, festive, film, chart, comedy, ..."
10,1683,blair rejects iraq advice calls tony blair has...,politics,"[blair, rejects, iraq, advice, calls, tony, bl...","[blair, rejects, iraq, advice, calls, tony, bl...","[blair, rejects, iraq, advice, calls, tony, bl..."
11,1153,housewives lift channel 4 ratings the debut of...,entertainment,"[housewives, lift, channel, 4, ratings, the, d...","[housewives, lift, channel, 4, ratings, the, d...","[housewives, lift, channel, 4, ratings, debut,..."
12,1028,uk coal plunges into deeper loss shares in uk ...,business,"[uk, coal, plunges, into, deeper, loss, shares...","[uk, coal, plunges, into, deeper, loss, shares...","[uk, coal, plunges, deeper, loss, shares, uk, ..."
13,812,bp surges ahead on high oil price oil giant bp...,business,"[bp, surges, ahead, on, high, oil, price, oil,...","[bp, surges, ahead, on, high, oil, price, oil,...","[bp, surges, ahead, high, oil, price, oil, gia..."
14,707,ireland 21-19 argentina an injury-time dropped...,sport,"[ireland, 21-19, argentina, an, injury-time, d...","[ireland, 21-19, argentina, an, injury-time, d...","[ireland, 21-19, argentina, injury-time, dropp..."
15,1588,wenger signs new deal arsenal manager arsene w...,sport,"[wenger, signs, new, deal, arsenal, manager, a...","[wenger, signs, new, deal, arsenal, manager, a...","[wenger, signs, new, deal, arsenal, manager, a..."
16,342,u2 s desire to be number one u2 who have won ...,entertainment,"[u2, s, desire, to, be, number, one, u2, who, ...","[u2, s, desire, to, be, number, one, u2, who, ...","[u2, desire, number, one, u2, three, prestigio..."
17,486,hantuchova in dubai last eight daniela hantuch...,sport,"[hantuchova, in, dubai, last, eight, daniela, ...","[hantuchova, in, dubai, last, eight, daniela, ...","[hantuchova, dubai, last, eight, daniela, hant..."
18,1344,melzer shocks agassi in san jose second seed a...,sport,"[melzer, shocks, agassi, in, san, jose, second...","[melzer, shocks, agassi, in, san, jose, second...","[melzer, shocks, agassi, san, jose, second, se..."
19,1552,moving mobile improves golf swing a mobile pho...,tech,"[moving, mobile, improves, golf, swing, a, mob...","[moving, mobile, improves, golf, swing, a, mob...","[moving, mobile, improves, golf, swing, mobile..."
20,1547,hewitt overcomes wobble in sydney lleyton hewi...,sport,"[hewitt, overcomes, wobble, in, sydney, lleyto...","[hewitt, overcomes, wobble, in, sydney, lleyto...","[hewitt, overcomes, wobble, sydney, lleyton, h..."
21,177,carry on star patsy rowlands dies actress pats...,entertainment,"[carry, on, star, patsy, rowlands, dies, actre...","[carry, on, star, patsy, rowlands, dies, actre...","[carry, star, patsy, rowlands, dies, actress, ..."
22,1785,serena becomes world number two serena william...,sport,"[serena, becomes, world, number, two, serena, ...","[serena, becomes, world, number, two, serena, ...","[serena, becomes, world, number, two, serena, ..."
23,1617,ferguson urges henry punishment sir alex fergu...,sport,"[ferguson, urges, henry, punishment, sir, alex...","[ferguson, urges, henry, punishment, sir, alex...","[ferguson, urges, henry, punishment, sir, alex..."
24,405,bt boosts its broadband packages british telec...,tech,"[bt, boosts, its, broadband, packages, british...","[bt, boosts, its, broadband, packages, british...","[bt, boosts, broadband, packages, british, tel..."
25,1561,china had role in yukos split-up china lent ru...,business,"[china, had, role, in, yukos, split-up, china,...","[china, had, role, in, yukos, split-up, china,...","[china, role, yukos, split-up, china, lent, ru..."
26,702,peer-to-peer nets here to stay peer-to-peer ...,tech,"[peer-to-peer, nets, here, to, stay, peer-to-p...","[peer-to-peer, nets, here, to, stay, peer-to-p...","[peer-to-peer, nets, stay, peer-to-peer, p2p, ..."
27,1026,henman to face saulnier test british number on...,sport,"[henman, to, face, saulnier, test, british, nu...","[henman, to, face, saulnier, test, british, nu...","[henman, face, saulnier, test, british, number..."
28,1527,uk will stand firm on eu rebate britain s £3b...,politics,"[uk, will, stand, firm, on, eu, rebate, britai...","[uk, will, stand, firm, on, eu, rebate, britai...","[uk, stand, firm, eu, rebate, britain, £3bn, e..."
29,1503,iran budget seeks state sell-offs iran s presi...,business,"[iran, budget, seeks, state, sell-offs, iran, ...","[iran, budget, seeks, state, sell-offs, iran, ...","[iran, budget, seeks, state, sell-offs, iran, ..."
...,...,...,...,...,...,...
1460,714,music man to the oscars bill conti s job of mu...,entertainment,"[music, man, to, the, oscars, bill, conti, s, ...","[music, man, to, the, oscars, bill, conti, s, ...","[music, man, oscars, bill, conti, job, musical..."
1461,314,speech takes on search engines a scottish firm...,tech,"[speech, takes, on, search, engines, a, scotti...","[speech, takes, on, search, engines, a, scotti...","[speech, takes, search, engines, scottish, fir..."
1462,605,da vinci code is lousy history the plot of a...,entertainment,"[da, vinci, code, is, lousy, history, the, plo...","[da, vinci, code, is, lousy, history, the, plo...","[da, vinci, code, lousy, history, plot, intern..."
1463,2102,abbas will not tolerate attacks palestinian ...,politics,"[abbas, will, not, tolerate, attacks, palestin...","[abbas, will, not, tolerate, attacks, palestin...","[abbas, tolerate, attacks, palestinian, leader..."
1464,1454,broadband set to revolutionise tv bt is starti...,tech,"[broadband, set, to, revolutionise, tv, bt, is...","[broadband, set, to, revolutionise, tv, bt, is...","[broadband, set, revolutionise, tv, bt, starti..."
1465,403,warnings about junk mail deluge the amount of ...,tech,"[warnings, about, junk, mail, deluge, the, amo...","[warnings, about, junk, mail, deluge, the, amo...","[warnings, junk, mail, deluge, amount, spam, c..."
1466,1064,house prices drop as sales slow house prices f...,business,"[house, prices, drop, as, sales, slow, house, ...","[house, prices, drop, as, sales, slow, house, ...","[house, prices, drop, sales, slow, house, pric..."
1467,937,charvis set to lose fitness bid flanker colin ...,sport,"[charvis, set, to, lose, fitness, bid, flanker...","[charvis, set, to, lose, fitness, bid, flanker...","[charvis, set, lose, fitness, bid, flanker, co..."
1468,454,preview: ireland v england (sun) lansdowne roa...,sport,"[preview:, ireland, v, england, (sun), lansdow...","[preview:, ireland, v, england, sun, lansdowne...","[preview:, ireland, v, england, sun, lansdowne..."
1469,1819,warnings on woeful wi-fi security companies ar...,tech,"[warnings, on, woeful, wi-fi, security, compan...","[warnings, on, woeful, wi-fi, security, compan...","[warnings, woeful, wi-fi, security, companies,..."
1470,1739,golden economic period to end ten years of g...,business,"[golden, economic, period, to, end, ten, years...","[golden, economic, period, to, end, ten, years...","[golden, economic, period, end, ten, years, go..."
1471,1870,ferrero eyes return to top form former world n...,sport,"[ferrero, eyes, return, to, top, form, former,...","[ferrero, eyes, return, to, top, form, former,...","[ferrero, eyes, return, top, form, former, wor..."
1472,1806,kelly trails new discipline power teachers cou...,politics,"[kelly, trails, new, discipline, power, teache...","[kelly, trails, new, discipline, power, teache...","[kelly, trails, new, discipline, power, teache..."
1473,304,dallaglio eyeing lions tour place former engla...,sport,"[dallaglio, eyeing, lions, tour, place, former...","[dallaglio, eyeing, lions, tour, place, former...","[dallaglio, eyeing, lions, tour, place, former..."
1474,1257,indy buys into india paper irish publishing gr...,business,"[indy, buys, into, india, paper, irish, publis...","[indy, buys, into, india, paper, irish, publis...","[indy, buys, india, paper, irish, publishing, ..."
1475,980,budget to set scene for election gordon brown ...,politics,"[budget, to, set, scene, for, election, gordon...","[budget, to, set, scene, for, election, gordon...","[budget, set, scene, election, gordon, brown, ..."
1476,783,bollywood draws global stars british actress a...,entertainment,"[bollywood, draws, global, stars, british, act...","[bollywood, draws, global, stars, british, act...","[bollywood, draws, global, stars, british, act..."
1477,883,web logs aid disaster recovery some of the mos...,tech,"[web, logs, aid, disaster, recovery, some, of,...","[web, logs, aid, disaster, recovery, some, of,...","[web, logs, aid, disaster, recovery, vivid, de..."
1478,1144,visa row mandarin made sir john the top civil ...,politics,"[visa, row, mandarin, made, sir, john, the, to...","[visa, row, mandarin, made, sir, john, the, to...","[visa, row, mandarin, made, sir, john, top, ci..."
1479,2058,high fuel costs hit us airlines two of the lar...,business,"[high, fuel, costs, hit, us, airlines, two, of...","[high, fuel, costs, hit, us, airlines, two, of...","[high, fuel, costs, hit, us, airlines, two, la..."
1480,1124,qantas sees profits fly to record australian a...,business,"[qantas, sees, profits, fly, to, record, austr...","[qantas, sees, profits, fly, to, record, austr...","[qantas, sees, profits, fly, record, australia..."
1481,950,liverpool pledge to keep gerrard liverpool chi...,sport,"[liverpool, pledge, to, keep, gerrard, liverpo...","[liverpool, pledge, to, keep, gerrard, liverpo...","[liverpool, pledge, keep, gerrard, liverpool, ..."
1482,1880,file-swappers ready new network legal attacks ...,tech,"[file-swappers, ready, new, network, legal, at...","[file-swappers, ready, new, network, legal, at...","[file-swappers, ready, new, network, legal, at..."
1483,1904,beastie boys win sampling battle us rappers be...,entertainment,"[beastie, boys, win, sampling, battle, us, rap...","[beastie, boys, win, sampling, battle, us, rap...","[beastie, boys, win, sampling, battle, us, rap..."
1484,1774,hyundai to build new india plant south korea s...,business,"[hyundai, to, build, new, india, plant, south,...","[hyundai, to, build, new, india, plant, south,...","[hyundai, build, new, india, plant, south, kor..."
1485,857,double eviction from big brother model caprice...,entertainment,"[double, eviction, from, big, brother, model, ...","[double, eviction, from, big, brother, model, ...","[double, eviction, big, brother, model, capric..."
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment,"[dj, double, act, revamp, chart, show, dj, duo...","[dj, double, act, revamp, chart, show, dj, duo...","[dj, double, act, revamp, chart, show, dj, duo..."
1487,1590,weak dollar hits reuters revenues at media gro...,business,"[weak, dollar, hits, reuters, revenues, at, me...","[weak, dollar, hits, reuters, revenues, at, me...","[weak, dollar, hits, reuters, revenues, media,..."
1488,1587,apple ipod family expands market apple has exp...,tech,"[apple, ipod, family, expands, market, apple, ...","[apple, ipod, family, expands, market, apple, ...","[apple, ipod, family, expands, market, apple, ..."
1489,538,santy worm makes unwelcome visit thousands of ...,tech,"[santy, worm, makes, unwelcome, visit, thousan...","[santy, worm, makes, unwelcome, visit, thousan...","[santy, worm, makes, unwelcome, visit, thousan..."